/*Unidades de medidas
*Medidas fisicas:
*pulgadas-in
*centimetros-cm
*milimetros-mm
*Medidas Absolutas:
*pulgadas-in
*centimetros-cm
*milimetros-mm
*pixel-px
*punto tipografico-pt
*pica-pc
*Medidas Relativas:
*%
*em=(n*font-size(padre))=1em/2em/1.7em/3.07em
*rem=(n*font-size(raiz(html)))=1rem/2rem/1.7rem/3.07rem
*vh=todo de alto(0-100)
*vw=todo de ancho(0-100)
*vmin=compara el width y el height y toma el valor mas pequeño
*vmax=compara el width y el height y toma el valor mas grande
*Unidades raras:
*ex=la altura de la letra x es un 1ex
*ch=el ancho del 0 es un 1ch
*/

html {
    font-size: 40px;
}

body {
    margin: 0;
}

div {
    background-color: #ddd;
    padding: 20px;
    font-family: sans-serif;
    border-left: 4px solid #777;
    font-size: 20px;
    height: 80vh;
    width: 80vw;
    margin: auto;
    box-sizing: border-box;
    margin-top: 10vh;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    background-color: #0db8;
    height: 50vh;
    width: 50vw;
    margin: 0;
}

span {
    color: #777;
    font-size: 20px;
    font-weight: 100;
}

p {
    color: #333;
    font-size: 0.5rem;
}